<p id="notice"><%= notice %></p>

<p>
  <strong>Tittle:</strong>
  <%= @post.tittle %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @post.picture %><%= image_tag(@post.picture_url, width: 600) if @post.picture.present? %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
